<!DOCTYPE html>
<html lang="de-at" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <title>Overview</title>
        <link rel="stylesheet" href="stylesheet.css">
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
	    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    </head>

    <body class="root">

        <div class="header">
            <img class="header_image" src="resources\header.jpg"/>
        </div>

        <div class="overview">
            <h1 class="heading2">Overview</h2>
            <div id="s_overview" class="placeholder">
                <script>
                    for (i = 1; i < 25; i++) {
                        data = http://127.0.0.1:8000/?a=12&b=10
                        objectid = 'tester'+i.toString();
                        $("#stockdivbox").append('<div id='+objectid+'></div>')
                        $("#"+objectid).before('<h2>'+"Stock Nummer "+i.toString()+'</h2>')
                        TESTER1 = document.getElementById(s_overview);
            
                        Plotly.newPlot( TESTER1, [
                        {
                            x: [1, 2, 3, 4, 5+i],
                            y: [1, 2, 4, 8, 16+i] 
                        }
                        ], {
                        margin: { t: 0 } } );
                    }
                </script>
            </div>
        </div>

        <div class="stocks">

            <div  class="portfolio">
                <h1 class="heading2">Portfolio</h2>
                <div id="s_portfolio" class="placeholder">
                    ph 
                </div>
            </div>

            <div class="watchlist">
                <h1 class="heading2">Watchlist</h2>
                <div id="s_watchlist" class="placeholder">
                    ph
                </div>

            </div>

        </div>

    </body>

</html>