<html lang="en">
    <head>
        <title>{{ title }}</title>
        <!-- <link rel="icon" href="https://www.pngfind.com/pngs/m/415-4153126_png-file-easy-money-icon-png-transparent-png.png" type="image/x-icon"> -->
        
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script>
            $(document).ready(function() {
                //home
                $("#home").click(function() {
                    window.location.replace("/");
                });
                
                //portfolio
                $("#portfolio").click(function() {
                    window.location.replace("/finances/stocks/portfolio");
                });

                //watchlist
                $("#watchlist").click(function() {
                    window.location.replace("/finances/stocks/watchlist");
                });
            });
        </script>
    </head>
    <body class="body">
        <div style="display: flex;">
            <div class="ui grey vertical menu" style="min-height: 100%; position: absolute;">
                
                <div class="ui container">
                    <div class="ui icon header">
                        <i class="chart area icon"></i>
                        Daniel Kofler
                    </div>
                </div>

                <a id="home" class="item">
                    <div class="header">
                        <h3 style="padding: 0%;">Home</h3>
                    </div>
                </a>

                <a id="finances" class="item">
                    <h3 style="padding: 0%;">Finances</h3>
                </a>
                <div class="menu">
                    <a id="portfolio" class="item">
                        <h5 style="padding: 0%;">Portfolio</h3>
                    </a>
                    <a id="watchlist" class="item">
                        <h5 style="padding: 0%;">Watchlist</h5>
                    </a>
                </div>
            </div>

            <div class="ui container" style="padding: 5ex;">
                {% block content %}
            
                {% endblock %}
            </div>
        </div>
    </body>
</html>