{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function() {
        $('.menu .item').tab();

        let ticker = $("#ticker").text();
        let url = '/finances/stocks/' + ticker + '/getData';

        //Get Overview Data
        $.get( url, function( dataO ) {
            $("#open").text(dataO["open"]);
            $("#close").text(dataO["close"]);
            $("#high").text(dataO["high"]);
            $("#low").text(dataO["low"]);

            // add news items
            let news = dataO["news"];
            news.forEach(function (n, i) {
                jQuery('<div class="column"><div class="ui segment"><h3 class="ui header">' +
                    n["publisher"] +
                    '</h3><a href="' +
                    n["link"] +
                    '"> ' +
                    n["title"] +
                    '</a></div></div>', {
                        id: 'news' + i
                }).appendTo('#newsItems');
            });

            $("#exchange").text(dataO["exchange"]);
            $("#currency").text(", in " + dataO["currency"]);

            //color change label
            v_orig = dataO["change"];
            v = parseFloat(v_orig.substring(0, v_orig.length - 2));
            if(v < 0) {
                $("#changeLabel").addClass("ui large red basic label");
                $("#changeLabel").text(v_orig);
            }

            else if (v > 0) {
                $("#changeLabel").addClass("ui large green basic label");
                $("#changeLabel").text("+" + v_orig);
            }

            //plot history
            let h = dataO["history"];
            let x = [];
            let y = [];

            var d = new Date();
            d.setDate(d.getDate()-30);

            for (var v in h) {
                x.push(v);
                y.push(h[v]);
            }

            div = document.getElementById('historyPlot');

            var trace1 = {
                type: 'scatter',
                x: x,
                y: y,
                mode: 'lines',
                name: 'Blue',
                line: {
                    color: 'rgb(5, 94, 226)',
                    width: 2
                }
            };

            var layout = {
                showlegend: false,
                xaxis: {
                    showline: true,
                    showgrid: false,
                    showticklabels: true,
                    linewidth: 2,
                    autotick: true,
                    ticks: 'outside'
                },
                yaxis: {
                    showgrid: true,
                    zeroline: false,
                    showline: false,
                    showticklabels: true,
                    autotick: true
                },
                autosize: true,
                annotations: []
            };

            var resultLabel = {
                xref: 'paper',
                x: 1,
                y: dataO["close"],
                xanchor: 'left',
                yanchor: 'middle',
                text: dataO["close"],
                font: {
                    size: 12,
                    color: 'rgb(5, 94, 226)'
                },
                showarrow: false
            };

            layout.annotations.push(resultLabel);
            var history = [trace1];

            Plotly.newPlot(
                div,
                history,
                layout
            );
        },"json");

        //Get Balance Sheet data
        $("#tabHeaderBalanceSheet").click(function() {
            let url = '/finances/stocks/' + ticker + '/getDataBalanceSheet';
            console.log('Fetchning Balance Sheet ...');
            
            $.get( url, function( dataB ) {
                console.log(dataB["balanceSheet"]);
            });
        });

        //Get Cashflow data
        $("#tabHeaderCashflow").click(function() {
            let url = '/finances/stocks/' + ticker + '/getDataCashflow';
            console.log('Fetchning Cashflow ...');

            $.get( url, function( dataC ) {
                console.log(dataC["cashflow"]);
            });
        });

        //Get Financials data
        $("#tabHeaderFinancials").click(function() {
            let url = '/finances/stocks/' + ticker + '/getDataFinancials';
            console.log('Fetchning Financials ...');

            

            $.get( url, function( dataD ) {
                let financials = dataD["financials"];
                let i = 1;
                let t = '';

                for (let f in financials) {
                    t += '<div class="column" style="flex: 0 0 60ex;"><div id="segmentFinancials' + i + '" class="ui segment"><h3>' + f + '</h3>'
                    t += '<table><tbody id="segmentFinancials' + i + 'Table">';
                    let fin = financials[f];
                    for (let x in fin) t += '<tr><td>' + x + '</td><td>' + fin[x] + '</td></tr>';
                    t += '</tbody></table>';
                    t += '</div></div>';
                    i++;
                }

                $("#tabBodyFinancials").html(t);
            });
        });
    });

</script>

<!-- Breadcrumbs -->
<div style="display: flex;">
    <div class="ui breadcrumb" style="background-color: rgb(235, 235, 235); height: 8ex; width: 93%; padding: 3ex; border-radius: 0ex 2ex 2ex 0ex;">
        <div class="section"><a href="http://127.0.0.1:8000/"><i class="home icon"></i></a></div>
        <i class="right chevron icon divider"></i>
        <div class="section"><a href="http://127.0.0.1:8000/finances">Finances</a></div>
        <i class="right chevron icon divider"></i>
        <div class="section">Stock</div>
    </div>
    <div style="background-color: rgb(255, 255, 255); height: 8ex; width: 1%;"></div>
    <div style="background-color: rgb(5, 94, 226); height: 8ex; width: 5%; border-radius: 2ex 2ex 2ex 2ex;"></div>
    <div style="background-color: rgb(255, 255, 255); height: 8ex; width: 1%;"></div>
</div>


<div style="padding: 5ex;">
    <h1 id="title" class="ui header">{{ title }}</h1>
    <span id="ticker" class="ui large label">{{ ticker }}</span>
    <span id="changeLabel"></span>
    <span id="exchange"></span>
    <span id="currency"></span>

    <div class="ui pointing secondary menu">
        <a id="tabHeaderOverview" class="item active" data-tab="tabBodyOverview">Overview</a>
        <a id="tabHeaderBalanceSheet" class="item" data-tab="tabBodyBalanceSheet">Balance Sheet</a>
        <a id="tabHeaderCashflow" class="item" data-tab="tabBodyCashflows">Cashflow</a>
        <a id="tabHeaderFinancials" class="item" data-tab="tabBodyFinancials">Financials</a>
        <a id="tabHeaderAnalysis" class="item" data-tab="tabBodyAnalysis">Analysis</a>
    </div>

    <!-- Overview -->
    <div class="ui tab segment active" data-tab="tabBodyOverview" id="tabBodyOverview">
        <table class="ui very basic single line table">
            <tr>
                <td style="text-align: right;">Market Open</td><td id="open" style="font-weight: bold;"></td>
                <td></td>
                <td style="text-align: right;">Previous Close</td><td id="close" style="font-weight: bold;"></td>
                <td></td>
                <td style="text-align: right;">Day Low</td><td id="low" style="font-weight: bold;"></td>
                <td></td>
                <td style="text-align: right;">Day High</td><td id="high" style="font-weight: bold;"></td>
                <td></td>
            </tr>
        </table>

        <div id="historyPlot" class="ui container"></div>

        <div class="ui container">
            <h2 id="newsHeader" class="ui header">News</h1>
            <div id="newsItems" class="ui five column grid"></div>
        </div>
    </div>

    <!-- BalanceSheet -->
    <div class="ui tab segment" data-tab="tabBodyBalanceSheet">
        <div id="tabBodyBalanceSheet" class="ui container">
            Balance Sheet
        </div>
    </div>

    <!-- Cashflows -->
    <div class="ui tab segment" data-tab="tabBodyCashflows">
        <div id="tabBodyCashflows" class="ui container">
            Cashflow
        </div>
    </div>

    <!-- Financials -->
    <div class="ui tab segment" data-tab="tabBodyFinancials">
        <div id="tabBodyFinancials" class="ui center aligned three column grid"></div>
    </div>

    <!-- Analysis -->
    <div class="ui tab segment" data-tab="tabBodyAnalysis">
        <div id="tabBodyAnalysis" class="ui container">
            Analysis
        </div>
    </div>
</div>

{% endblock %}