{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function() {
        //Modal to add stocks
        $("#addStockOpenModal").click(function() {
            $('.ui.tiny.modal').modal('show');
        });

        //refresh site
        $("#refresh").click(function() {
            window.location.reload();
        });

        //refresh site
        $("#refresh").click(function() {
            window.location.reload();
        });

        //add stock to watchlist
        $("#addStockConfirm").click(function() {
            var ticker = $("#addStockTicker").val();

            $.ajax({
                url: '/finances/stocks/watchlist/add-stock',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"ticker": ticker}),
                dataType: 'json'
            });

            $('.ui.basic.modal').modal('hide');
            window.location.reload();
        });

        //remove stock from watchlist
        function generateDeleteHandler( j ) {
            return function(event) {
                var ticker = $("#ticker" + j).text();
                $("#removeStockText").text(ticker);
                $('.mini.modal').modal('show'); 
            };
        }

        //view stock details
        function generateViewHandler( j ) {
            return function(event) {
                var ticker = $("#ticker" + j).text();
                window.location.replace("/finances/stocks/" + ticker);
            };
        }

        $("#removeStockConfirm").click(function() {
            var ticker = $("#removeStockText").text();

            $.ajax({
                url: '/finances/stocks/watchlist/remove-stock',
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({
                    "ticker" : ticker
                }),
                dataType: 'json'
            });

            window.location.reload();
        });
       
        if($("#stockTable >tbody >tr") != null) {
            let n = $("#stockTable >tbody >tr").length;  
            for(var i = 1; i <= n; i++){
                $('#deleteStock' + i).click( generateDeleteHandler( i ) );
                $('#viewStock' + i).click( generateViewHandler( i ) );
            }

            //color fields
            let v;
            for(let i = 1; i <= n; i++) {
                //color value change fields
                v_orig =$("#valueChange" + [i]).text();
                v = parseFloat(v_orig.substring(0, v_orig.length));
                if(v < 0) $("#valueChange" + [i]).addClass("ui large red basic label");
                else if (v > 0) {
                    $("#valueChange" + [i]).addClass("ui large green basic label");
                    $("#valueChange" + [i]).text("+" + v_orig);
                }

                //color relative value change fields
                v_orig =$("#relValueChange" + [i]).text();
                v = parseFloat(v_orig.substring(0, v_orig.length - 2));
                if(v < 0) $("#relValueChange" + [i]).addClass("ui large red basic label");
                else if (v > 0) {
                    $("#relValueChange" + [i]).addClass("ui large green basic label");
                    $("#relValueChange" + [i]).text("+" + v_orig);
                }
            }
        }
    });
</script>

<!-- Breadcrumbs -->
<div style="display: flex;">
    <div class="ui breadcrumb" style="background-color: rgb(235, 235, 235); height: 8ex; width: 93%; padding: 3ex; border-radius: 0ex 2ex 2ex 0ex;">
        <div class="section"><a href="http://127.0.0.1:8000/"><i class="home icon"></i></a></div>
        <i class="right chevron icon divider"></i>
        <div class="section"><a href="http://127.0.0.1:8000/finances">Finances</a></div>
        <i class="right chevron icon divider"></i>
        <div class="section">Watchlist</div>
    </div>
    <div style="background-color: rgb(255, 255, 255); height: 8ex; width: 1%;"></div>
    <div style="background-color: rgb(5, 94, 226); height: 8ex; width: 5%; border-radius: 2ex 2ex 2ex 2ex;"></div>
    <div style="background-color: rgb(255, 255, 255); height: 8ex; width: 1%;"></div>
</div>

<div style="padding: 5ex;">
    <h1 class="ui header"><i class="list icon"></i> {{ title }}</h1>
    <div class="ui container">
        <!-- Modal to add a stock to the watchlist -->
        <div class="ui tiny modal">
            <!-- header -->
            <div class="ui icon header">
                <i class="chart area icon"></i>
                Add Stock to Watchlist
            </div>
            <div class="content">
                <!-- ticker input textbox -->
                <div class="ui input">
                    
                    <input type="text" id="addStockTicker" placeholder="Stock Ticker ...">
                    
                </div>
                <br>
            </div>

            <div class="actions">

                <!-- cancel button -->
                <div id="addStockCancel" class="ui red cancel inverted button">
                    <i class="remove icon"></i>
                    Cancel
                </div>

                <!-- confirm button -->
                <div id="addStockConfirm" class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Confirm
                </div>
            </div>
        </div>

        <!-- Modal to confirm removing a stock -->
        <div class="ui mini modal">
            <div class="header">Remove Stock?</div>
            <div class="content">
                <p>Remove <span id="removeStockText" style="font-weight: bold;"></span> from your watchlist?</p>
            </div>
            <div class="actions">
                <!-- cancel button -->
                <div id="removeStockCancel" class="ui red cancel inverted button">
                    <i class="remove icon"></i>
                    Cancel
                </div>

                <!-- confirm button -->
                <div id="removeStockConfirm" class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
            </div>

        <!-- Button to open the add stock modal -->
        <div class="ui animated button" tabindex="0" id="addStockOpenModal">
            <div class="hidden content">Add</div>
            <div class="visible content">
                <i class="plus icon"></i>
            </div>
        </div>

        <!-- Button to refresh the site -->
        <div class="ui animated button" tabindex="1" id="refresh">
            <div class="hidden content">Refresh</div>
            <div class="visible content">
                <i class="refresh icon"></i>
            </div>
        </div>

        <!-- Stock table -->
        <table id="stockTable" class="ui very basic single line table">
            <thead>
                <tr>
                    <th><h5 class="ui header">Ticker</h5></th>
                    <th><h5 class="ui header">Value</h5></th>
                    <th><h5 class="ui header">1D</h5></th>
                    <th><h5 class="ui header">1D %</h5></th>
                    <th><h5 class="ui header"></h5></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% if stocks is not none %}
                    {% for stock in stocks %}
                    <tr>
                        <td id="ticker{{loop.index}}">{{ stock[0] }}</td>
                        <td>{{ stock[1] }}</td>
                        <td><p id="valueChange{{loop.index}}">{{ stock[2] }}</p></td>
                        <td><p id="relValueChange{{loop.index}}">{{ stock[3] }}</p></td>
                        <td>
                            <button class="ui icon button" tabindex="{{ 3 + loop.index }}" id="deleteStock{{ loop.index }}">
                                <i class="trash icon"></i>
                            </button>
                                
                            <button class="ui icon button" tabindex="{{ 4 + loop.index }}" id="viewStock{{ loop.index }}">
                                <i class="chart line icon"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <th> {% if stocks is not none %} Number of Stocks: {{ stocks|length }} {% else %}  Number of Stocks: 0 {% endif %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}