{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function() {
        //Modal to add stocks
        $("#addStockOpenModal").click(function() {
            $('.ui.basic.modal').modal('show');
        });

        //refresh site
        $("#refresh").click(function() {
            window.location.reload();
        });

        //add stock to watchlist
        $("#addStockConfirm").click(function() {
            var ticker = $("#addStockTicker").val();
            console.log(ticker);

            $.ajax({
                url: '/finances/stocks/watchlist/add-stock',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"ticker": ticker}),
                dataType: 'json'
            });

            $('.ui.basic.modal').modal('hide');
            window.location.reload();
        });

        //remove stock from watchlist
        function generate_handler( j ) {
            return function(event) {
                var ticker = $("#ticker" + j).text();
                console.log(ticker);
                $.ajax({
                    url: '/finances/stocks/watchlist/remove-stock',
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "ticker" : ticker
                    }),
                    dataType: 'json'
                });

                window.location.reload();
            };
        }
        
        if($("#stockTable >tbody >tr") != null) {
            let n = $("#stockTable >tbody >tr").length;  
            for(var i = 1; i <= n; i++){
                $('#deleteStock' + i).click( generate_handler( i ) );
            }

            //color fields
            let v;
            for(let i = 1; i <= n; i++) {
                //color value change fields
                v =$("#valueChange" + [i]).text();
                v = parseFloat(v.substring(0, v.length - 2));
                if(v < 0) $("#valueChange" + [i]).addClass("negative");
                else if (v > 0) $("#valueChange" + [i]).addClass("positive");

                //color relative value change fields
                v =$("#relValueChange" + [i]).text();
                v = parseFloat(v.substring(0, v.length - 2));
                if(v < 0) $("#relValueChange" + [i]).addClass("negative");
                else if (v > 0) $("#relValueChange" + [i]).addClass("positive");
            }
        }
    });
</script>

<div style="padding: 2ex;">

    <!-- Modal to add a stock to the watchlist -->
    <div class="ui basic modal">
        <!-- hader -->
        <div class="ui icon header">
            <i class="chart area icon"></i>
            Add Stock to Watchlist
        </div>

        <!-- ticker input textbox -->
        <div class="ui input">
            <input type="text" id="addStockTicker" placeholder="Stock Ticker ...">
        </div><br>

        <div class="actions">

            <!-- cancel button -->
            <div id="addStockCancel" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>

            <!-- confirm button -->
            <div id="addStockConfirm" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>
    
    <!-- Button to open the add stock modal -->
    <div class="ui animated button" tabindex="0" id="addStockOpenModal">
        <div class="hidden content">Add</div>
        <div class="visible content">
            <i class="plus icon"></i>
        </div>
    </div>

    <!-- Button to refresh the site -->
    <div class="ui animated button" tabindex="1" id="refresh">
        <div class="hidden content">Refresh</div>
        <div class="visible content">
            <i class="refresh icon"></i>
        </div>
    </div>

    <!-- Stock table -->
    <table id="stockTable" class="ui sortable celled table">
        <thead>
            <tr>
                <th><h3 class="ui header">Ticker</h3></th>
                <th><h3 class="ui header">Value</h3></th>
                <th><h3 class="ui header">Value Change 1D</h3></th>
                <th><h3 class="ui header">Relative Value Change 1D</h3></th>
                <th><h3 class="ui header">Actions</h3></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            {% if stocks is not none %}
                {% for stock in stocks %}
                <tr>
                    <td id="ticker{{loop.index}}">{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td id="valueChange{{loop.index}}">{{ stock[2] }}</td>
                    <td id="relValueChange{{loop.index}}">{{ stock[3] }}</td>
                    <td>
                        <div class="ui animated button" tabindex="{{ 3 + loop.index }}" id="deleteStock{{ loop.index }}">
                            <div class="hidden content">Delete</div>
                            <div class="visible content">
                                <i class="trash icon"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th> {% if stocks is not none %} Number of Stocks: {{ stocks|length }} {% else %}  Number of Stocks: 0 {% endif %}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}